.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
  margin-bottom: 0px;
}

.github-icon {
  width: 33px;
  height: 30px;
  margin-right: 10px;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.horoscopecope {
  padding-left: 0.6rem;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
